/*==== Hero Section Four =====================*/
.hero-section.style-6 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: $bg-color19;
        transition: all 0.4s ease-in-out;
        top: 0;
        left: 0;
        z-index: 0;
        mix-blend-mode: hard-light;
    }

    @include lg {
        border-radius: 0;
    }
    .hero-scroll {
        position: absolute;
        left: -15px;
        bottom: 173px;
        transform: rotate(90deg);
        z-index: 9;
        @include xxl {
            bottom: 344px;
            left: 0px;
        }
        @include xl {
            bottom: 344px;
            left: -48px;
        }
    }

    .hero-content {
        padding: 210px 0 120px;

        @include lg {
            padding: 180px 0;
        }
        @include laptop-m {
            padding: 180px 0 130px;
        }
        @include xs {
            padding: 120px 0;
        }
        @include vxs {
            padding: 120px 0;
        }
        .theme-btn {
            @include xs {
                margin-bottom: 70px;
            }
        }
        .sub-title {
            font-size: 18px;
            color: $dark-color;
            font-weight: 500;

            @include mobile-xl {
                font-size: 16px;
            }

            @include vxs {
                flex-direction: column;
                align-items: baseline;
            }
        }

        .title {
            font-size: 56px;
            line-height: 1.18;
            color: $white-color;
            font-weight: 700;
            letter-spacing: normal;
            margin-bottom: 170px;
            span {
                color: $gray-color2;
            }

            @include ml {
                font-size: 48px;
            }

            @include nestHub {
                font-size: 38px;
                margin-bottom: 40px;
            }
            @include md {
                margin-bottom: 80px;
            }
            @include mobile-xl {
                margin-bottom: 40px;
            }

            @include xs {
                font-size: 45px;

                br {
                    display: block;
                }
            }

            @include tablet-s {
                font-size: 42px;
            }

            @include mobile-xl {
                font-size: 32px;
            }

            @include mobile-l {
                font-size: 28px;
            }

            @include mobile-s {
                font-size: 28px;
            }
        }

        .text {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 40px;
            .icon {
                flex-shrink: 0;
                img {
                    display: inline-block;
                }
                @include tablet-s {
                    display: none;
                }
            }
            p {
                font-size: 16px;
                line-height: 26px;
                color: $gray-color2;
                font-weight: 400;
                margin: 0;
                @include laptop-m {
                    br {
                        display: none;
                    }
                }
            }
        }

        .feature-list {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: 69px;

            @include vxs {
                align-items: flex-start;
                flex-direction: column;
                gap: 10px;
                margin-top: 40px;
            }

            li {
                color: $dark-color;
                position: relative;
                padding-left: 30px;

                &::before {
                    @include absolute-centerY;
                    left: 0;
                    content: "\f00c";
                    font-weight: 300;
                    font-size: 23px;
                    font-family: $icon-font;
                    color: $theme-color;
                }
            }
        }

        .contact-info {
            @include center-flex;
            justify-content: flex-start;
            gap: 10px;

            &:hover {
                .number {
                    color: $theme-color;
                }
            }

            .icon {
                @include center-flex;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                background-color: $theme-color;
                font-size: 24px;
                color: $white-color;

                i {
                    @include filter-white-color;
                }
            }

            .number {
                font-size: 16px;
                line-height: 26px;
                color: $dark-color;
                font-weight: 600;
                @include transition;
            }
        }
    }

    .hero-right {
        padding-left: 50px;

        @include lg {
            padding-left: 0;
        }

        @include md {
            display: none;
        }

        .image-box {
            margin-bottom: -124px;

            img {
                max-width: inherit;
                @include laptop-m {
                    max-width: 100%;
                }
            }
        }

        .thumb-info {
            position: absolute;
            background-color: $bg-color5;
            backdrop-filter: blur(10px);
            bottom: 18%;
            right: 32.5%;
            border-radius: 10px;

            @include xxl {
                right: 24%;
            }

            @include lg {
                display: none;
            }
        }

        .dot-shape {
            position: absolute;
            top: 119px;
            right: 20px;

            @include md {
                right: 333px;
            }

            @include tablet-l {
                right: 195px;
            }

            @include xs {
                display: none;
            }
        }
    }

    .swiper-slide {
        @include ml {
            overflow: hidden;
        }
    }

    @include xxl {
        .swiper-button-prev,
        .swiper-button-next {
            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover {
        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
            visibility: visible;
        }
    }

    .hero-content {
        > * {
            transition-timing-function: ease;
            transition-duration: 1s;
            transition-property: all;
            opacity: 0;

            &:nth-child(1) {
                transition-delay: 1000ms;
                transform: translateY(-50px);
            }

            &:nth-child(2) {
                transition-delay: 700ms;
                transform: translateY(50px);
            }

            &:nth-child(3) {
                transition-delay: 1000ms;
                transform: translateY(50px);
            }

            &:nth-child(4) {
                transition-delay: 1300ms;
                transform: translateY(50px);
            }

            &:nth-child(5) {
                transition-delay: 1500ms;
                transform: translateY(50px);
            }
        }
    }

    .hero-right {
        > * {
            transition-timing-function: ease;
            transition-duration: 1s;
            transition-property: all;
            opacity: 0;

            &:nth-child(1) {
                transition-delay: 1000ms;
                transform: translateY(50px);
            }
        }
    }

    /* Active Slide Animation */
    .swiper-slide-active {
        .hero-content {
            > * {
                transform: translateX(0);
                opacity: 1;
            }
        }

        .hero-right {
            > * {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }

    .info-box {
        &.style-2 {
            position: absolute;
            bottom: 0;
            right: 0;
            border-top-left-radius: 16px;
            padding: 30px 0 0 30px;
            max-width: 454px;
            width: 100%;
            @include xs {
                padding: 0;
                border-radius: 0;
            }

            &::before {
                position: absolute;
                left: -16px;
                bottom: 0;
                content: "";
                height: 16px;
                width: 16px;
                background: url('data:image/svg+xml,<svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11"><path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="%23ecf8f8"></path></svg>');
                transform: rotate(180deg);
                @include xs {
                    content: inherit;
                }
            }

            &::after {
                position: absolute;
                right: 0;
                top: -16px;
                content: "";
                height: 16px;
                width: 16px;
                background: url('data:image/svg+xml,<svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-11 h-11"><path d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z" fill="%23ecf8f8"></path></svg>');
                transform: rotate(180deg);
                @include xs {
                    content: inherit;
                }
            }

            .inner-box {
                padding: 40px 0 40px 40px;
                width: 100%;
                border-radius: 16px;
                background: $dark-color;
                @include xs {
                    border-radius: 0;
                }
                .content {
                    p {
                        font-size: 20px;
                        line-height: 26px;
                        color: $white-color;
                        font-weight: 500;
                        margin: 0;
                    }

                    .awards {
                        .count-number {
                            font-size: 70px;
                            line-height: 1;
                            color: $theme-color2;
                            font-weight: 500;
                        }
                        .plus {
                            font-size: 40px;
                            color: $theme-color2;
                        }
                    }
                }
            }
        }
    }
}
