/*==== Faq Section Three=====================*/
.faq-section {
    &.style-3{
        .accordion-box{
            position: relative;
            .accordion{
                margin-bottom: 20px;
                border-bottom: none;
                .acc-btn{
                    position: relative;
                    font-size: 18px;
                    color: $dark-color;
                    font-weight: 500;
                    cursor: pointer;
                    padding-right: 20px;
                    background: $theme-color3;
                    transition: all .4s ease 0s;
                    border: 1px solid rgba(6,50,50,.1);
                    padding: 22px 75px 22px 30px;
                    border-radius: 5px;
                    &.active{
                        color: $white-color;
                        background-color: $dark-color;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                        .icon{
                            &::before{
                                height: 0;
                            }
                        }
                    }
                    .icon{
                        position: absolute;
                        content: "";
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .4s ease 0s;
                        right: 36px;
                        color: $text-color2;
                        height: 20px;
                        width: 20px;
                        border: 1px solid $text-color2;
                        border-radius: 50%;
                        &::before{
                            position: absolute;
                            content: "";
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all .4s ease 0s;
                            width: 2px;
                            height: 12px;
                            background-color: $text-color2;
                        }
                        &::after{
                            position: absolute;
                            content: "";
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            transition: all .4s ease 0s;
                            width: 12px;
                            height: 2px;
                            background-color: $text-color2;
                        }
                    }
                }
                .acc-content{
                    &.active{
                        display: block;
                    }
                    .content{
                        padding: 30px;
                        margin-top: 0;
                        border-radius: 5px;
                        filter: drop-shadow(0px 20px 25px rgba(190, 199, 199, 0.2));
                        background-color: $white-color;
                        border: 1px solid rgba(6,50,50,.1);
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
        }
        .about-image-wrapper {
            display: flex;
            align-items: end;
            position: relative;

            &.direction-rtl {
                @include lg {
                    direction: ltr;
                }

                @include nestHub {
                    direction: rtl;
                }
            }

            .about-image {
                @include md {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .shape {
                position: absolute;
                top: 12px;
                left: 43px;
            }

            .about-single-card {
                @include center-flex;
                flex-shrink: 0;
                position: relative;
                z-index: 1;
                max-width: 330px;
                width: 100%;
                height: max-content;
                padding: 16px;
                border-radius: 10px;
                background-color: $white-color;
                margin: 0 -135px 68px 0;

                @include xxl {
                    margin: 0 -205px 68px 0;
                }

                @include ml {
                    display: none;
                }

                .inner {
                    display: inline-block;
                    position: relative;
                    max-width: 290px;
                    width: 100%;
                    flex-shrink: 0;
                    z-index: 1;
                    padding: 40px 37px;
                    border-radius: 5px;
                    background-color: $theme-color2;
                    overflow: hidden;

                    &:hover {
                        .icon {
                            transform: rotate(360deg);
                        }
                    }

                    .icon {
                        @include center-flex;
                        width: 70px;
                        height: 70px;
                        border-radius: 10px;
                        background-color: $dark-color;
                        font-size: 30px;
                        color: $theme-color2;
                        @include transition;
                    }

                    .title {
                        font-size: 20px;
                        line-height: 28px;
                        color: $dark-color;
                        font-weight: 500;
                        margin: 30px 0 24px;
                    }

                    .members {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .social {
                            @include center-flex;

                            img {
                                @include center-flex;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                margin-left: -20px;
                                border: 3px solid $theme-color2;

                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }

                        .text {
                            font-size: 15px;
                            color: $dark-color;
                            font-weight: 500;
                        }

                    }
                }
            }

            .about-image {
                img {
                    max-width: inherit;
                    border-radius: 10px;
                    @include laptop-m{
                        max-width: 100%;
                    }
                }
            }
        }

        .circle-box {
            position: absolute;
            bottom: 37px;
            right: -205px;
            width: 184px;
            height: 184px;
            background-color: $theme-color3;
            @include xxl{
                right: -75px;
            }

            @include ml{
                right: -45px;
            }
            
            @include xl{
                left: -45px;
            }

            @include md {
                bottom: 30px;
                left: 40px;
            }

            @include mobile-xl {
                display: none;
            }
        }

    }
}




.dark-mode{
    .faq-section {
        &.style-3{
            .accordion-box{
                position: relative;
                .accordion{
                    margin-bottom: 20px;
                    border-bottom: none;
                    .acc-btn{
                        position: relative;
                        font-size: 18px;
                        color: $white-color;
                        font-weight: 500;
                        cursor: pointer;
                        padding-right: 20px;
                        background: $dark-color3;
                        transition: all .4s ease 0s;
                        border: 1px solid rgba(6,50,50,.1);
                        padding: 22px 75px 22px 30px;
                        border-radius: 5px 5px 0 0;
                        &.active{
                            background-color: $dark-color3;
                            .icon{
                                &::before{
                                    height: 0;
                                }
                            }
                        }
                        .icon{
                            position: absolute;
                            content: "";
                            top: 50%;
                            transform: translateY(-50%);
                            transition: all .4s ease 0s;
                            right: 36px;
                            color: $text-color2;
                            height: 20px;
                            width: 20px;
                            border: 1px solid $text-color2;
                            border-radius: 50%;
                            &::before{
                                position: absolute;
                                content: "";
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                transition: all .4s ease 0s;
                                width: 2px;
                                height: 12px;
                                background-color: $text-color2;
                            }
                            &::after{
                                position: absolute;
                                content: "";
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                transition: all .4s ease 0s;
                                width: 12px;
                                height: 2px;
                                background-color: $text-color2;
                            }
                        }
                    }
                    .acc-content{
                        &.active{
                            display: block;
                        }
                        .content{
                            background-color: transparent;
                            border: 1px solid $border-color13;
                            border-top: none;
                            .text{
                                color: $gray-color2;
                            }
                        }
                    }
                }
            }
            .about-image-wrapper {
                display: flex;
                align-items: end;
                position: relative;
    
                &.direction-rtl {
                    @include lg {
                        direction: ltr;
                    }
    
                    @include nestHub {
                        direction: rtl;
                    }
                }
    
                .about-image {
                    @include md {
                        width: 100%;
    
                        img {
                            width: 100%;
                        }
                    }
                }
    
                .shape {
                    position: absolute;
                    top: 12px;
                    left: 43px;
                }
    
                .about-single-card {
                    @include center-flex;
                    flex-shrink: 0;
                    position: relative;
                    z-index: 1;
                    max-width: 330px;
                    width: 100%;
                    height: max-content;
                    padding: 16px;
                    border-radius: 10px;
                    background-color: $dark-color4;
                    margin: 0 -135px 68px 0;
    
                    @include xxl {
                        margin: 0 -205px 68px 0;
                    }
    
                    @include ml {
                        display: none;
                    }
    
                    .inner {
                        display: inline-block;
                        position: relative;
                        max-width: 290px;
                        width: 100%;
                        flex-shrink: 0;
                        z-index: 1;
                        padding: 40px 37px;
                        border-radius: 5px;
                        background-color: $theme-color2;
                        overflow: hidden;
    
                        &:hover {
                            .icon {
                                transform: rotate(360deg);
                            }
                        }
    
                        .icon {
                            @include center-flex;
                            width: 70px;
                            height: 70px;
                            border-radius: 10px;
                            background-color: $dark-color;
                            font-size: 30px;
                            color: $theme-color2;
                            @include transition;
                        }
    
                        .title {
                            font-size: 20px;
                            line-height: 28px;
                            color: $dark-color;
                            font-weight: 500;
                            margin: 30px 0 24px;
                        }
    
                        .members {
                            display: flex;
                            align-items: center;
                            gap: 5px;
    
                            .social {
                                @include center-flex;
    
                                img {
                                    @include center-flex;
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                    margin-left: -20px;
                                    border: 3px solid $theme-color2;
    
                                    &:first-child {
                                        margin-left: 0;
                                    }
                                }
                            }
    
                            .text {
                                font-size: 15px;
                                color: $dark-color;
                                font-weight: 500;
                            }
    
                        }
                    }
                }
    
                .about-image {
                    img {
                        max-width: inherit;
                        border-radius: 10px;
                        @include laptop-m{
                            max-width: 100%;
                        }
                    }
                }
            }
    
            .circle-box {
                position: absolute;
                bottom: 37px;
                right: -205px;
                width: 184px;
                height: 184px;
                background-color: $dark-color3;
                @include xxl{
                    right: -75px;
                }
    
                @include ml{
                    right: -45px;
                }
                
                @include xl{
                    left: -45px;
                }
    
                @include md {
                    bottom: 30px;
                    left: 40px;
                }
    
                @include mobile-xl {
                    display: none;
                }
                .text-inner{
                    text{
                        fill: $gray-color2;
                    }
                }
            }
    
        }
    }
}

