/*===============================
  Scroll To Top
===============================*/
.scrollToTop {
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0f0f0f;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    transition: 0.5s ease all;

    @include md {
        height: 40px;
        width: 40px;
    }


    &:hover {
        transform: translateY(-15%);
    }

    .arrowUp {
        @include center-flex;
        position: absolute;
        inset: 0;
        z-index: 3;
        color: #ffffff;
        font-size: 24px;

        i {
            font-size: 19px;
        }
    }

    .water {
        position: absolute;
        inset: 0;
        z-index: 2;
        transform: translateY(100%);
        background-color: $theme-color;
        transition: all 0.3s;

        svg use {
            margin-bottom: -1px;
            position: relative;
            bottom: -1px;
            fill: $theme-color !important;
        }
    }

    .water_wave {
        width: 200%;
        position: absolute;
        bottom: 100%;

        &_back {
            right: 0;
            fill: $dark-color;
            animation: wave-back 1.4s infinite linear;
        }

        &_front {
            left: 0;
            fill: #7A259EE0;
            margin-bottom: -1px;
            animation: wave-front 0.7s infinite linear;
        }
    }
}

@keyframes wave-front {
    100% {
        transform: translateX(-50%);
    }
}

@keyframes wave-back {
    100% {
        transform: translateX(50%);
    }
}
