/*==== Header Style Two=====================*/
.header-style2 {
    position: relative;

    .header-top {
        margin: 0;
        padding: 0 60px;
        background-color: $dark-color;
        @include border(bottom, 1px, solid, $border-color);

        @include ml {
            padding: 0 24px;
        }

        @include md {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            bottom: -6px;
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: $dark-color;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }

        .inner-container {
            @include center-flex;
            justify-content: space-between;
            background: $dark-color;
            width: 100%;
        }

        .top-left {
            display: flex;
            align-items: center;
        }

        .outer-box {
            min-width: 315px;
            position: relative;
            z-index: 1;
        }

        .list-style-1 {
            position: relative;
            @include center-flex;
            justify-content: start;
            padding: 11px 0;

            li {
                font-size: 14px;
                color: $gray-color2;
                padding-left: 0;

                &+li {
                    margin-left: 35px;
                }

                a {
                    color: $gray-color2;

                    &:hover {
                        color: $white-color;
                    }
                }

                .icon {
                    color: $theme-color2;
                    margin-right: 10px;
                }
            }
        }
    }

    .social-icon-one {
        @include center-flex;
        justify-content: end;
        flex-wrap: wrap;

        li {
            a {
                color: $white-color;
                font-size: 14px;

                &:hover {
                    color: $theme-color;
                }
            }

            &+li+li a {
                margin-left: 20px;
            }
        }

        .menu-follow_title {
            color: $gray-color2;
            font-size: 14px;
            text-transform: uppercase;
            margin-right: 15px;
        }
    }

    .main-wrapper {
        padding: 0 60px;
        background-color: $dark-color;

        @include ml {
            padding: 0 24px;
        }

        @include md {
            background-color: $light-color;
            padding: 0 12px;
        }

        .menu-area {
            margin-top: 0;
            border-radius: 0;
            background-color: $dark-color;
            padding-right: 0;

            @include md {
                background-color: $light-color;
                padding-right: 20px;

                >.row {
                    flex-direction: row-reverse;
                }
            }
        }

        .nav-menu {
            flex: 1;

            @include md {
                flex: 0;
            }

            .main-menu {
                >ul {
                    >li {
                        padding: 10px 0;

                        &.active>a {
                            color: $theme-color;
                        }

                        >a {
                            color: $white-color;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }



                >ul {
                    >li {
                        &.menu-item-has-children {

                            &>a::before {
                                opacity: 0.4;
                            }

                            &>a:hover::before {
                                opacity: 1;
                            }
                        }

                        &.active>a::before {
                            opacity: 1;
                        }
                    }
                }

                ul.sub-menu {

                    li {

                        a {
                            color: $dark-color;
                        }

                        &.active a {
                            color: $theme-color;
                        }

                        &:hover a {
                            color: $white-color;
                        }

                        ul.sub-menu {
                            li {
                                a {
                                    color: $dark-color;
                                }

                                &:hover a {
                                    color: $white-color;
                                }
                            }
                        }

                    }
                }
            }
        }

        .logo {
            flex: 0 0 auto;
        }

        .header-right-wrapper {
            flex: 1;
            @include center-flex;
            justify-content: flex-end;

            @include laptop-m {
                display: none;
            }

            .header-right {

                .header-btn {
                    color: $white-color;
                    margin-right: 10px;
                }
            }
        }
    }

    .header-sticky {
        .main-wrapper {
            box-shadow: 0 0 20px $white-color;

            .nav-menu .main-menu>ul>li {
                padding: 0;
            }
        }
    }

}

.header-right {
    gap: 20px;

    .search-btn {
        @include center-flex;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $dark-color;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 14px;
        color: $gray-color2;

        &:hover {
            color: $white-color;
        }
    }

    .header-btn {
        color: $white-color;
        margin-right: 10px;
    }
}